body {
    margin: 0;
    font-family: Arial;
    background: #0d1b12;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.box {
    width: 320px;
    padding: 20px;
    background: #132a1c;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #5CFF8A;
    margin-bottom: 5px;
}

.tabs {
    display: flex;
    margin: 10px 0;
}

.tabs button {
    flex: 1;
    padding: 8px;
    border: none;
    cursor: pointer;
    background: #1f3a29;
    color: white;
}

.tabs button.active {
    background: #5CFF8A;
    color: black;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 8px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    background: #5CFF8A;
    font-weight: bold;
    cursor: pointer;
}

p {
    font-size: 12px;
}
